{
    "prod/security-score-card/db-password": "local-dev-password",
    "prod/security-score-card/secret-key": "local-development-secret-key-replace-in-production",
    "prod/security-score-card/jwt-secret-key": "local-development-jwt-secret-key-replace-in-production"
}
